# Python-specific
__pycache__/
*.pyc
*.pyo
*.pyd
tempCodeRunnerFile.py

# Virtual Environments
venv/
.env/

# Visual Studio Code
.vscode/

# Logs, Images and Output Files
*.log
*.out
*.png
*.txt
scenenn_seg
datasets

# Model Checkpoints
*.pth
*.pt
